<!DOCTYPE html>
<html>
    <head>
        <style>
            .table_head{
                font-family: monospace;
                font-size: 22px;
                margin: 7px;
                border: 1px solid black;
            }
            .table_data_product_name{
                font-family: monospace;
                font-size: 20px;
                overflow: auto;
            }

            .table_data_product_id{
                 font-family: monospace;
                font-size: 20px;
            }

            .table_data_product_price{
                 font-family: monospace;
                font-size: 20px;
                overflow: auto;
            }

            .table_input2{
                padding: 15px;
                border-radius: 10px;
                font-family: monospace;
                font-size: 20px;

            }

            .table_button{
                font-family: monospace;
                font-size: 30px;
                background-color: orange;
                border-radius: 10px;
            }
            .table_input{
                padding: 15px;
                border-radius: 10px;
                font-family: monospace;
                font-size: 20px;
            }

            #sidebar_main_div{
                 width: 100%; 
                 padding: 5px;
                 border-radius: 10px;
                 top: 0px;
                bottom: 0px; 
                left: 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                background-color: orange;
            }

            .sidebar_main_div_inner_button{
                border: 2px solid black;
                border-radius: 10px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

         
            .sidebar_main_div_inner_div_inner_p{
                text-align: center;
                font-family: monospace;
                font-size: 20px;

            }

            .sidebar_main_div_inner_div_inner_img{
                width: 70px;
                border-radius: 5px;
                

            }

            #upload_new_product_to_database_main_outer_div{
                border: 2px solid black;
                padding: 5px;
                border-radius: 15px;
                
            }

            #upload_new_product_to_database_image_element{
                height: 25%;
                width: 25%;
                border-radius: 7px;
            }
            

            #upload_new_product_to_database_form_element{
                display: flex;
                flex-direction: column;
                /* width: 50%;
                height: 50%;
                left: 25%;
                right: 25%; */
            }

            .upload_new_product_to_database_input_element{
                margin-top:7px;
                padding: 20px;
                border: 2px solid orange;
                border-radius: 25px;
                font-size: 20px;
                font-family: monospace  sans-serif;
            }

            .sidebar_main_div_inner_input{
                color: black;
                background-color: orange;
                font-size: 16px;
                font-family: monospace;
                border-radius: 6px;
                padding: 20px;
                border: 1px solid black;
            }
            .table_Remove_button{
                font-family: monospace;
                font-size: 30px;
                background-color: orange;
                border-radius: 10px;
                cursor: pointer;           
            }

            
        </style>
    </head>

    <body>

        <div id="sidebar_main_div">
            <div class="sidebar_main_div_inner_button">
                <p class="sidebar_main_div_inner_div_inner_p">Upload Products</p>
                <img src="upload.png" alt="" class = "sidebar_main_div_inner_div_inner_img">
                <form action="/Upload_Products" method="get">
                    <input type="submit" value="Click here to upload new Product" class="sidebar_main_div_inner_input">
                </form>
            </div>
            <div class="sidebar_main_div_inner_button">
                <p class="sidebar_main_div_inner_div_inner_p">Update Product's Info</p>
                <img src="update.png" alt=""  class = "sidebar_main_div_inner_div_inner_img">
                <form action="/Update_Products_information" method="get">
                    <input type="submit" value="Click here to update product's info" class="sidebar_main_div_inner_input">
                </form>
            </div>
            <div class="sidebar_main_div_inner_button">
                <p class="sidebar_main_div_inner_div_inner_p">Placed Orders</p>
                <img src="order.png" alt=""  class = "sidebar_main_div_inner_div_inner_img">
                <form action="/Placed_orders" method="get">
                    <input type="submit" value="Click here to view placed order" class="sidebar_main_div_inner_input">
                </form>
            </div>
        </div>
        
        <table border="1" style="background-color: none;" id="table">
            <tr align=" center">
            <th  class="table_head" >Product's id</th>
            <th class="table_head">Product's name</th>
            <th class="table_head">Product's new name</th>
            <th class="table_head">Product's price</th>
            <th class="table_head">Product's new price</th>
            <th class="table_head">upload new product's information</th>
            <th class="table_head">Remove product from store</th>
        </tr>

        <%for(let i = 0; i < array_to_hold_product_info.length ; i++){%>
        <tr align="center">
            <td class="table_data_product_id"><%=array_to_hold_product_info[i][0]%></td>
            <td  class="table_data_product_name"><%=array_to_hold_product_info[i][1]%></td>
            <td  class="table_data"><input type="text" required  class="table_input" placeholder="Product's new name"></td>
            <td  class="table_data_product_price"><%=array_to_hold_product_info[i][2]%></td>
            <td  class="table_data"><input type="number" required class="table_input2" placeholder="Product's new price"></td>
            <td  class="table_data"><button class="table_button">Upload changes</button></td>
            <td class="table_data"><button class="table_Remove_button">Remove</button></td>
        </tr>
        <%}%>
        </table>

        
        <script>
            const table_data = document.getElementsByClassName("table_data_product_id")
            const table_input = document.getElementsByClassName("table_input")
            const table_input2 = document.getElementsByClassName("table_input2")
            const table_button = document.getElementsByClassName("table_button")
            const table_data_product_name = document.getElementsByClassName("table_data_product_name")
            const sidebar_main_div_inner_button = document.getElementsByClassName("sidebar_main_div_inner_button");
            const table_data_product_price = document.getElementsByClassName("table_data_product_price")
            const table_Remove_button = document.getElementsByClassName("table_Remove_button");
            const table = document.getElementById("table")
            for(let i = 0 ; i < table_button.length; i++){
            table_button[i].addEventListener("click",()=>{

                if(table_input[i].value.length > 0 && table_input2[i].value.length > 0){
            
               const xhr = new XMLHttpRequest()
               xhr.open("POST","/Update_Products_infomation2",true)
               xhr.setRequestHeader("Content-Type","application/JSON")
               xhr.send(JSON.stringify({Product_id:table_data[i].innerHTML,
                                        Product_new_name:table_input[i].value,
                                        Product_new_price:table_input2[i].value
                                        
               }))


               window.alert("The changes has been uploaded.")
                table_data_product_name[i].innerHTML = table_input[i].value
                table_data_product_price[i].innerHTML = table_input2[i].value
               table_input[i].value = null;
               table_input2[i].value = null;
            }else{
                window.alert("Make sure to enter the product's new name and new price")
            }
            
            })

        } 
        for(let i = 0 ; i < table_Remove_button.length; i++){
            table_Remove_button[i].addEventListener("click",(event)=>{
                const xhr = new XMLHttpRequest()
               xhr.open("POST","/Delete_product_from_store",true)
               xhr.setRequestHeader("Content-Type","application/JSON")
               xhr.send(JSON.stringify({Product_id:table_data[i].innerHTML
               }))

               window.alert("This product will be removed from your STORE") 
               table_button[i].disabled = true; 
               table_Remove_button[i].disabled = true;
              
            // let td = event.target.parentNode
            // let tr = td.parentElement
            // let tb = tr.parentElement
            // console.log(td,tr,tb,tb.children)
            // tb.removeChild(tb.children[i]);
    })
     } 
        </script>
    </body>
</html>